.margin {
  margin-top: 50px;
}

.container-content {
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    font-weight: 200;
  }

  h1 {
    font-weight: 300;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;

}
